/* Imported Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser-inserted from Codeanywhere */
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
svg text {
	animation: stroke 9s infinite alternate;
	stroke-width: 2;
	stroke: #F3F3F3;
	font-size: 55px;
}
@keyframes stroke {
	0%   {
		fill: rgba(243,243,243,0); stroke: rgba(243,243,243,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(243,243,243,0); stroke: rgba(243,243,243,1); }
	80%  {fill: rgba(243,243,243,0); stroke: rgba(243,243,243,1); stroke-width: 3; }
	100% {
		fill: rgba(243,243,243,1); stroke: rgba(243,243,243,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

h2 {
    justify-content: center;
    font-size:40px;
    text-align: center;
    font-family: 'Nova Square', sans-serif;
    color: white;
   }


header {
    background-color:rgb(235, 144, 59);
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
   }

/* Change the color of nav links on hover */
.topnav a:hover {
    color:rgb(0, 0, 0); ;
  }

/* Navigation styling */
nav {
    font-family:'Nova Square', sans-serif;;
    font-size: large;
    display: flex;
    justify-content:space-around;
    position:fixed;
    color: white;
    background: rgba(255, 123, 0, 0.7);
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Navigation link styling */
nav a {
    font-family: 'Nova Square', sans-serif;
    font-size: smaller;
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
}

h3 {
    text-align: center;
    font-size: 20px;
    font-style: oblique;
}

.tips {
    color: white;
    font-family: 'Nova Square', sans-serif, thin;
    font-size:medium;
    text-align:center;
    width: 100%;
}

body {
    margin-top: 100px;
    font-family: 'Nova Square', sans-serif, thin;
    margin-bottom: 0;
    padding-bottom: auto;
    color:rgba(255, 123, 0);
    background:none;
    text-align:center;
}

p {
    color: rgba(255, 123, 0);
    font-family: 'Nova Square', sans-serif, thin;
    font-size:medium;
    margin-bottom: 15px;
    justify-content: center;
    text-align: center;
}
/* Gallery photo-fase styling in coffeeshops.html- inserted from W3Scools */
.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: rgba(255, 123, 0, 0.5);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

#brewing-videos {
    justify-content: center;
    display: inline-block;
    position:static;
    margin: 0 auto;   
}

main a {
    color:black;
}

footer {
    font-family: 'Nova Square', sans-serif;
    font-size: 20px;;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    color: rgba(255, 123, 0, 0.7);
    text-align: center;
    padding: 20 20 20 20;
      }

/* Social media icon styling */
/* Style all font awesome icons */
 .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Hover effect for social icons */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Facebook styling */
  .fa-facebook {
    background: none;
    color: rgba(255, 123, 0, 0.7);
  }
  
  /* Instagram styling */
  .fa-instagram {
    background: none;
    color:rgba(255, 123, 0, 0.7);
  }

/* Contact me styles */
#contact {
    background-image: url("assets/Images/Coffee photos/espresso copper table.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 20 px 10% 0 10%;
    flex-grow: 1;
  }

.contact-form {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    text-align: center;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
}

.contact-form input text-box,
.contact-form textarea {
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    justify-content: center;
}


.contact-form button {
    background-color:rgb(243, 140, 6, 0.7);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color:rgb(243, 140, 6, 0.7);
}

/*Styles inserted from W3 Schools */
 /* Three image containers (use 25% for four, and 50% for two, etc) */
 .column {
    float: left;
    width: 30%;
    padding: 5px;
    margin:15px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: inline;
  } 

  body, html {
    height: 100%;
}



  @media (min-width: 1025px) and (max-width: 1280px){}


  @media (min-width: 768px) and (max-width: 1024px){}


  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){}

  @media (min-width: 481px) and (max-width: 767px){}

  @media (min-width: 320px) and (max-width: 480px){}