/* ##Device = Desktops ##Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) 
{

head, header h1, h2{
    font-family: 'Nova Square', sans-serif;
    background:rgb(243, 140, 6, 0.7);
    width: 100%;
    color: white;
    text-align: center;
    padding:0;
    padding-top: 40px;
    margin: 0;
   }

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("assets/images/untitled-1030441.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

/* Change the color of nav links on hover */
.topnav a:hover {
    background-color: rgb(255, 255, 255);
    background:rgb(243, 140, 6, 0.7);
  }

/* Navigation styling */
nav {
    font-family:'Nova Square', sans-serif;;
    font-size: large;
    display: flex;
    justify-content:space-around;
    position:fixed;
    color: white;
    background:rgb(243, 140, 6, 0.7);
    padding: 15px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
    align-items: baseline;
}

/* Navigation link styling */
nav a {
    font-family: 'Nova Square', sans-serif;
    font-size: smaller;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
/* Background image styling to cover the whole page */
body, html {
    height: 100%;
}

.bg {
    /* The image used for background */
    background-image: url(assets/images/coffee&guitar.jpg);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
  }

body {
    margin: 0;
    font-family: Arial, sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
    color:white;
}
/* Photo of myslef in about.html */
#selfie {
    max-width: 1200px;
    height: auto;
    justify-content: center;
    padding:10px;
    margin-left:150px;
    position: relative;
}

.responsive {
    width:100%;
    height: auto;
}

main {
    background:rgba(0, 0, 0, 0.4);
    color: white;
    font-family: 'Nova Square', sans-serif, thin;
    font-size:medium;
    margin: 60px;
    padding: 60px;
    text-align:center;
    max-width:1200px;
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

footer {
    font-family: 'Nova Square', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:rgb(243, 140, 6, 0.7);
    color: white;
    text-align: center;
      }

/* Social media icon styling */
/* Style all font awesome icons */
 .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Hover effect for social icons */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Facebook styling */
  .fa-facebook {
    background: none;
    color: white;
  }
  
  /* Instagram styling */
  .fa-instagram {
    background: none;
    color: white;
  } 

/* Contact me styles */
.contact-form {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 50px;
    width: 50px;
    text-align: left;
}

.contact-form button {
    background-color:rgb(243, 140, 6, 0.7);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color:rgb(243, 140, 6, 0.7);
}

/* Gallery photo-fase styling inserted from W3Scools */
.container {
    display: inline-block;
    width: 200px;
    height: auto;
    position: relative;
    padding: 20px;
    margin: 50px;
    border:rgb(243, 140, 6);
    border: 2px;
  }
  
  .image {
    opacity: 1;
    display: inline-block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: rgb(243, 140, 6);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
