body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url() no-repeat center center fixed;
    background-size: cover;
    color: white;
}

h1 {
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    background-color: white;

}

h2 {
    color: black;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.acmecup {
    display: flex;
    flex: auto;
    margin: 0 0;
}

header {
    text-align: center;
    padding: 50px;
    color: black;
    display:flex;
    background: url(../assets/images/untitled-1030407-Edit.jpg) center center/fixed;
    flex-wrap: wrap;
}

nav {
    display: flex;
    justify-content: space-around;
    background: black;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

section {
    padding: 50px;
}

section img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

section img:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 20px;
    background: black;
    color: white;
}