head, header h1, h2{
    background:rgb(243, 140, 6, 0.7);
    width: 100%;
    color: white;
    text-align: center;
    padding:0;
    padding-top: 40px;
    margin: 0;
   }

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 145, 0);
  }

nav {
    display: flex;
    justify-content:space-around;
    position:fixed;
    color: white;
    background: rgb(243, 140, 6, 0.7);
    padding: 15px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

body, html {
    height: 100%;
}

body {
    background-image:url(assets/images/coffee&guitar.jpg) no-repeat center center;
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
    margin-bottom: 0;
    padding-bottom: 0;
    color:white;
}

#selfie {
    max-width: 400px;
    justify-content: center;
    padding:10px;
    margin-left:150px;
    position: relative;
}

.responsive {
    width:100%;
    height: auto;
}

.gallery {
    display:table-column;
    max-width: 100%;
    height: auto;
    padding:0;
}


main {
    background: rgb(255, 136, 1, 0.5);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
    justify-content: center;
    margin: 60px;
    padding: 60px;
    text-align:center;
    max-width:900px;
}

main > p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    margin: 60px;
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(255, 81, 0, 0.5);
    color: white;
    text-align: center;
      }

/* Social media icon styling */
/* Style all font awesome icons */
 .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: none;
    color: white;
  }
  
  /* Instagram */
  .fa-instagram {
    background: none;
    color: white;
  } 



/* Contact me styles */
.contact-form {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 50px;
    width: 50px;
}

.contact-form button {
    background-color: #ff9900;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #fda501;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 300px;
  }
  

  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }