
header{
            display: flex;
            justify-content: space-around;
            background: rgb(243, 140, 6, 0.7);
            padding: 15px;
            position: top;
            top: 0;
            width: 100%;
            z-index: 1000;
}
body {
                margin: 0;
                font-family: Arial, sans-serif;
                background: url(assets/images/untitled-1030441.jpg) no-repeat center center, fixed;
                background-size: cover;
                color: black;
                margin-bottom: 0;
                padding-bottom: 0;
            }

.bwjudit {
    position: fixed;
    height: 100px;
    width: 100px;
    display:flex;
}

nav {
    display: flex;
            justify-content: space-around;
            background: rgb(243, 140, 6, 0.7);
            padding: 15px;
            position: relative;
            top: 0;
            width: 100%;
            z-index: 1000;
            color: white;
}

.navbar.fixed-top {
    position: fixed;
    top:0;
    width: 100%;
}

.navbar.fixed-top a {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

section {
    padding: 50px;
}

section img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

section img:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    background: rgb(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    flex: overflow;
}

#gallery {
    display:table-column;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    padding:0;
}

main > p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background: rgb(255, 255, 255, 0.6);
    text-align: center;
    margin: 30, 30, 30, 30;
}

/* Styling gallery.html */
about-body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(assets/images/coffee\ and\ pastry.jpg) center center, fixed;
    background-size: cover;
    color: black;
    margin-bottom: 0;
}

coffee-tips {
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    color: white;
}
